*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid lightcoral;
    list-style: none;
}


:root{
    --primary-color:rgba(0,132,253,255);
    --primary-color-light: rgba(181,221,255,255);
    --secondary-color: rgba(151,146,228,255);
}

.container{
    width: 100%;
    margin:0 auto;
    padding: 0 1rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row > *{ /*tutti i figli della row*/
    flex-grow: 1;
}

/*COLONNE*/

/*di base le mie colonne sono il 100% perchè parto dal mobile*/
.col-100{ 
    flex-basis: 100%;
}

.col-1_2{
    flex-basis: 50%;
}


.col-1_3{
    flex-basis: calc(100% / 3);
}


.col-2_3{
    flex-basis: calc((100% / 3) * 2);
}


.col-1_4{
    flex-basis: 25%;
}

.col-2_4{
    flex-basis: calc((100% / 4) * 2);
}

.col-3_4{
    flex-basis: calc((100% / 4) * 3);
}

/*CARD*/

.card{
    border-radius: 20px;
    background-color: var(--primary-color-light);
    min-height: 200px;
}









