*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid lightcoral;
    list-style: none;
}


:root{
    --primary-color:rgba(0,132,253,255);
    --primary-color-light: rgba(181,221,255,255);
    --secondary-color: rgba(151,146,228,255);
}

.container{
    width: 100%;
    margin: auto;
}

.logo-menu-container{
    display: flex;
    justify-content: space-between;
}

.row{
    min-height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    display: flex;
}

.padd-container{
    padd
}

.col{
    width: 100%;
    display: flex;
    padding: 1rem;
}



.header{
    padding-bottom: 1rem ;
}

.container-card{
    background-color: var(---color-light);
}


section{
    padding: .5rem;
}



.violet{
    padding: .5rem;
    background-color: var(--secondary-color);
}

.testimonial{
    padding: 1rem;
    text-align: centre;
}




















